@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{
    Layout = null;
    //ViewBag.Title = "SearchEmployees";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <form method="post" name="Display">
        <h2>Home</h2>
        @Html.ActionLink("Add New Record", "Insert")
        <br />
        @{
            if (Model.Rows.Count > 0)
            {
                <table border="1">
                    <thead>
                        <tr>
                            <td>Employee ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Gender</td>
                            <td>Phone Number</td>
                            <td>Email Id</td>
                            <td>Postal Code</td>
                            <td>Retired</td>
                        </tr>
                    </thead>
                    @foreach (DataRow dr in Model.Rows)
                    {
                        <tr>
                            <td>@dr["EmployeeId"].ToString()  </td>
                            <td>@dr["FirstName"].ToString()  </td>
                            <td>@dr["LastName"].ToString()  </td>
                            <td>@dr["Gender"].ToString()  </td>
                            <td>@dr["PhoneNumber"].ToString()  </td>
                            <td>@dr["EmailId"].ToString()  </td>
                            <td>@dr["PostalCode"].ToString()  </td>
                            <td>@dr["Retired"].ToString()  </td>
                            @*<td>@Html.ActionLink("Edit ", "Edit", new { EmployeeId = dr["EmployeeId"].ToString() })</td>
                                <td>@Html.ActionLink("| Delete", "Delete", new { EmployeeId = dr["EmployeeId"].ToString() })</td>*@
                        </tr>
                    }

                </table>
                <br />
            }
            else
            {
                <span> No records found!!</span>
            }
        }

    </form>

    @*@Html.ActionLink("Find", "SearchEmployees","Employee" new { id = })*@
</body>
</html>



